# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
.project
.classpath

# Common
*target/
Sora-Framework/plugins/

# Misc
Sora-Framework/src/main/java/co/casterlabs/sora/Test.java
*.versionsBackup
.DS_Store
